<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleDisplayName</key>
	<string>aizen</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>win.aizen.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>aizen</string>
			</array>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.5</string>
	<key>NSCameraUsageDescription</key>
	<string>Aizen's built-in browser needs access to your camera for websites that use video features.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Aizen's built-in browser needs access to your microphone for websites that use audio features and for voice message transcription.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Aizen needs access to speech recognition to transcribe your voice messages to text.</string>
	<key>SUFeedURL</key>
	<string>https://r2.aizen.win/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>i71fQnr49FNgiXkBf4sKYd5pb7FjxI9HHh7EvJGnc/4=</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
</dict>
</plist>
